// Common variables and mixins.

@import 'import_once';

// Colors
$theme-col-main: #ADC4CC;
$theme-col-main-dark: #4298B5;
$theme-col-main-light: #76D2F1;
$theme-col-background: #fff;

// Font colors
$theme-col-text-ondark: #fff;
$theme-col-text-onbackground: #000;

// Shades of green
$theme-col-green: #92B06A;
$theme-col-green-dark: #678440;
$theme-col-green-light: #AEE168;
$theme-col-green-lighter: #EAFFCD;

// Shades of grey
$theme-col-grey: #ccc;
$theme-col-grey-gentle: #eaeaea;
$theme-col-grey-light: #fafafa;
$theme-col-grey-dark: #929292;

// Shades of error
$theme-col-error-light: #F5D0D0;
$theme-col-error: #E8AAB4;
$theme-col-error-dark: #A94442;

// Padding and Margins
$padding-small: 10px;
$margin-small: 10px;

@include imported-once('common.wiggle') {
    // Animation keyframes
    @keyframes wiggle {
        0%  {
            transform:rotate(0deg);
        }
        25%  {
            transform:rotate(30deg);
        }
        50% {
            transform:rotate(-30deg);
        }
        75% {
            transform:rotate(30deg);
        }
        100%{
            transform:rotate(0deg);
        }
    }
}

// Animation mixin
@mixin wiggle() {
    animation: wiggle .3s 1;
}

// Responsive design mixin and breakpoints
$breakpoint-mobile: "max-width: 640px";

@mixin respond-to($media) {
    @media (unquote($media)) {
        @content;
    }
}

// Other mixins
@mixin no-select() {
    touch-callout: none;
    user-select: none;
}
