// The base css for lists.

@import 'common';

ul {
    padding: 0px;
    background: $theme-col-grey-light;
    border: 2px solid $theme-col-grey;
    border-radius: 5px;
}

li{
    padding: 10px;
    border-bottom: 2px solid $theme-col-grey;
    list-style: none;
}