// The base css for lists.

@import 'common';

ul {
    padding: 0px;
    border: 2px solid $theme-col-main;
    border-radius: 5px;
    background: $theme-col-grey-light;
}

li{
    padding: 10px;
    border-bottom: 2px solid $theme-col-main;
    list-style: none;
}

.title_tab {
    display: inline-block;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 0px 0px;
    background: $theme-col-main;
}

.titled_list {
    border-radius: 0px 5px 5px 5px;
}

.list_right_button {
    float: right;
    margin-top: -8px; /* Hack... */
}