// The base css for user profile view.

@import 'common';

.edit_profile_button {
    float: right;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 10px;
}

.tags {
    display: inline-block;
}

.side_notice {
    float: right;
    clear: both;
}
