// The base css for the website.

@import 'common';
@import 'forms';
@import url(https://fonts.googleapis.com/css?family=Cinzel);

// Wrappers
body {
    background-color: $theme-col-main-dark;
}

#siteWrapper {
    background-color: $theme-col-background;
    color: $theme-col-text-onbackground;
    position: relative;
}

// Header
#header {
    background-color: $theme-col-main-dark;
    left: 0;
    line-height: 1em;
    padding: 0 20px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#headerInner {
    color: $theme-col-text-ondark;
    padding: 20px 0;
    display: table;
    width: 100%;
}

#headerLogo {
    display: table-cell;
    font-family: Cinzel, serif;
    font-size: 2em;
    line-height: 2em;
    vertical-align: middle;
    width: 240px;

    > a {
        color: $theme-col-text-ondark;
        text-decoration: none;
    }
}

#headerNav {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;

    > div {
        display: inline-block;
        vertical-align: middle;
        margin: 0;

        a {
            color: $theme-col-text-ondark;
            display: block;
            padding: .75em 1em;
            text-decoration: none;

            &.active {
                color: $theme-col-main;
            }
        }
        > a {
            @include experimental-unquote(transition, 'background-color .1s .1s ease-in-out, color .1s .1s ease-in-out');

            &:hover {
                background-color: $theme-col-main;

                &.active {
                    color: $theme-col-text-ondark;
                }
            }
            
        }
    }
    .headerNavItemCircled {
        -webkit-border-radius: 300px;
        border-radius: 300px;
        border: 2px solid $theme-col-text-ondark;
        margin: 0 0 1px 1em;
        @include experimental(transition, background-color .1s .1s ease-in-out);

        > a {
            @include experimental(transition, color .1s .1s ease-in-out);
        }
        &:hover {
            background-color: $theme-col-main;

            > a {
                // color: $theme-col-text-onbackground;
            }
        }
    }
    .folder {
        position: relative;

        .folder-menu {
            background-color: $theme-col-main-dark;
            left: -0.5em;
            margin-top: -1px;
            padding: 1em 0;
            position: absolute;
            text-align: left;
            @include experimental(transform-origin, 0 0);
            @include experimental(transform, scale(1,0));
            @include experimental-val(transition, transform .2s 0s ease-in-out);

            &.folder-menu-from-right {
                left: inherit;
                right: -0.5em;
            }
            .folder-item {
                opacity: 0;
                padding: 0 0.5em;
                @include experimental-unquote(transition, 'opacity .1s .1s ease-in-out, background-color .1s .1s ease-in-out');
                
                &:hover {
                    background-color: $theme-col-main;
                }
            }
        }
        &:hover .folder-menu {
            @include experimental(transform, scale(1,1));

            .folder-item {
                opacity: 1;
            }
        }
    }
}

// Content
#content {
    margin: auto;
    max-width: 1000px;
    padding: 96px 32px;
    width: auto;
}

// Footer
#footerHighlight {
    background-color: $theme-col-main;
    height: 64px;
}

#footer {
    background-color: $theme-col-main-dark;
    height: 128px;
}
