// The base css for the website.

@import 'common';
@import 'forms';
@import 'list';
@import 'buttons';
@import 'links';
@import 'project_detail';
@import 'project_list';
@import 'user_profile';
@import 'bookmarks';
@import url(https://fonts.googleapis.com/css?family=Cinzel);

// Wrappers
body {
    background-color: $theme-col-main-dark;
    overflow-x: hidden;
}

#siteWrapper {
    background-color: $theme-col-background;
    color: $theme-col-text-onbackground;
    position: relative;
}

// Header
#header {
    background-color: $theme-col-main-dark;
    left: 0;
    line-height: 1em;
    padding: 0 20px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#headerInner {
    color: $theme-col-text-ondark;
    padding: 20px 0;
    display: table;
    width: 100%;
}

#headerLogo {
    display: table-cell;
    font-family: Cinzel, serif;
    font-size: 2em;
    line-height: 2em;
    vertical-align: middle;
    width: 240px;

    > a {
        color: $theme-col-text-ondark;
        text-decoration: none;
    }
}

#headerNavMenu {
    display: none;
    font-size: large;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}

#headerNavTrigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

#headerNavTriggerLabel {
    @include no-select();
    cursor: pointer;
}

#headerNavMenuList {
    background: $theme-col-main-dark;
    font-size: 14px;
    left: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 36px;
    padding-right: 20px;
    position: absolute;
    text-align: left;
    transition: max-height .3s .3s ease-in-out, padding .3s .3s ease-in-out;
    width: 100%;

    a {
        color: $theme-col-text-ondark;
        display: block;
        text-decoration: none;

        &:not(:last-child) {
            padding-bottom: 1em;
        }
    }
}

#headerNavTrigger {
    &:checked {
        + label span:first-child {
            display: none;
        }
        + label span:last-child {
            display: table-cell;
            @include wiggle();
        }
        ~ #headerNavMenuList {
            max-height: 300px;
            padding-bottom: 2em;
        }
    }
    &:not(:checked) {
        + label span:first-child {
            display: table-cell;
            @include wiggle();
        }
        + label span:last-child {
            display: none;
        }
        ~ #headerNavMenuList {
            max-height: 0;
        }
    }
}

#headerNav {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;

    > div {
        display: inline-block;
        vertical-align: middle;
        margin: 0;

        a {
            color: $theme-col-text-ondark;
            display: block;
            padding: .75em 1em;
            text-decoration: none;

            &.active {
                color: $theme-col-main;
            }
        }
        > a {
            transition: background-color .1s .1s ease-in-out, color .1s .1s ease-in-out;

            &:hover {
                background-color: $theme-col-main;

                &.active {
                    color: $theme-col-text-ondark;
                }
            }

        }
    }
    .headerNavItemCircled {
        -webkit-border-radius: 300px;
        border-radius: 300px;
        border: 2px solid $theme-col-text-ondark;
        margin: 0 0 1px 1em;
        transition: background-color .1s .1s ease-in-out;

        > a {
            transition: color .1s .1s ease-in-out;
        }
        &:hover {
            background-color: $theme-col-main;
        }
    }
    .folder {
        position: relative;

        .folder-menu {
            background-color: $theme-col-main-dark;
            left: -0.5em;
            margin-top: -1px;
            padding: 1em 0;
            position: absolute;
            text-align: left;
            transform-origin: 0 0;
            transform: scale(1,0);
            transition: transform .2s 0s ease-in-out;

            &.folder-menu-from-right {
                left: inherit;
                right: -0.5em;
            }
            .folder-item {
                opacity: 0;
                padding: 0 0.5em;
                transition: opacity .1s .1s ease-in-out, background-color .1s .1s ease-in-out;

                &:hover {
                    background-color: $theme-col-main;
                }
            }
        }
        &:hover .folder-menu {
            transform: scale(1,1);

            .folder-item {
                opacity: 1;
            }
        }
    }
}

@include respond-to($breakpoint-mobile) {
    #headerNavMenu {
        display: table-cell;
    }

    #headerNav {
        display: none;
    }
}

// Content
#content {
    margin: auto;
    max-width: 1000px;
    padding: 40px 32px 60px;
    width: auto;
}

// Footer
#footerHighlight {
    background-color: $theme-col-main;
    height: 20px;
}

#footer {
    background-color: $theme-col-main-dark;
    height: 40px;
}
