@import 'common';

@import 'general/buttons';
@import 'general/links';

@import url(https://fonts.googleapis.com/css?family=Cinzel);

.left {
    margin-left: 0%;
}

.right {
    margin-left: 25%;
}

.center {
    width: 70%;
    margin: 15%, 15%;
    text-align: center;
}

.capsule {
    width: 75%;
    margin-top: 1em;
    background-color: $theme-col-main;
    padding: 1.5em;
    border-radius: 5px;
}
