{% extends "base.html" %}
<!-- {% load staticfiles %} -->
{% block header %}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<link href="{% static "css/jquery.tagit.css" %}" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/tag-it.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<form action="." method="post" id="create-project">   
    <h2>Post a project</h2> 
    {{ form.non_field_errors }}

    <p>
        {{ form.title.label_tag }}
        {{ form.title.errors }}
        {{ form.title }}
    </p>
    <p>
        {{ form.description.label_tag }}
        {{ form.description.errors }}
        {{ form.description }}
    </p>
    <p>
        {{ form.payment.label_tag }}
        {{ form.payment.errors }}
        {{ form.payment }}
    </p>
    <p>
        {{ form.amount.label_tag }}
        {{ form.amount.errors }}
        {{ form.amount }}
    </p>

    <h2>Optional Information</h2>
    <div id="project-options">
        Questions<br/>
        Help us help you!<br/>
        Are you looking for ... <br/>
        <input type="checkbox" name="mobile" value="mobile" onclick="calc(this)">Mobile<br/>
        <input type="checkbox" name="android" value="android" onclick="calc(this)">Android<br/>
        <input type="checkbox" name="ios" value="ios" onclick="calc(this)">iOS<br/>
        <input type="checkbox" name="webapp" value="webapp" onclick="calc(this)">Web Application<br/>
        <div id="form-field-options">
            <label>Tags: </label> (separate by commas)
            <br/>
        </div>
    </div>

    {% csrf_token %}

    <input type="submit" value="Post!" />
</form>
{% endblock %}