{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css"
        href="{% static 'external/jqueryui/jquery-ui.min.css' %}">
    <script src="{% static 'external/jqueryraty/jquery.raty.js' %}"></script>
    <script src="{% static 'external/jqueryui/jquery-ui.min.js' %}"></script>

    <link rel="stylesheet" type="text/css"
        href="{% static 'external/tokenfield/bootstrap-tokenfield.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'external/tokenfield/tokenfield-typeahead.min.css' %}">
    <script
        src="{% static 'external/tokenfield/bootstrap-tokenfield.min.js' %}">
    </script>
{% endblock %}

{% block content %}
<form action="." method="post" id="create-project">   
    <h2>Post a project</h2> 
    {{ form.non_field_errors }}

    <p>
        {{ form.title.label_tag }}
        {{ form.title.errors }}
        {{ form.title }}
    </p>
    <p>
        {{ form.description.label_tag }}
        {{ form.description.errors }}
        {{ form.description }}
    </p>
    <p>
        {{ form.payment.label_tag }}
        {{ form.payment.errors }}
        {{ form.payment }}
    </p>
    <p>
        {{ form.amount.label_tag }}
        {{ form.amount.errors }}
        {{ form.amount }}
    </p>

    <h2>Optional Information</h2>
    <fieldset id="opInfoTypeSet">
        <legend>What type(s) of project are you looking for?</legend>
        <ul>
            <li>
                <input type="checkbox" id="opInfoTypeAndroid" value="Android">
                <label for="opInfoTypeAndroid">Android</label>
            </li>
            <li>
                <input type="checkbox" id="opInfoTypeiOS" value="iOS">
                <label for="opInfoTypeiOS">iOS</label>
            </li>
            <li>
                <input type="checkbox" id="opInfoTypeWeb" value="Web">
                <label for="opInfoTypeWeb">Web</label>
            </li>
        </ul>
    </fieldset>
    <h3>Tags</h3>
    <p>
        {{ form.tags.label_tag }}
        {{ form.tags.errors }}
        {{ form.tags }}
    </p>
    <div id="tags_tokenfield"></div>
        <script>
            var skills_input = $('#{{ form.tags.id_for_label }}');
            skills_input.hide();

            var initial_skills = skills_input.children().map(function(){
               return $.trim($(this).text());
            }).get();

            var getTagsWithText = function(text) {
                return skills_input
                    .children()
                    .filter(function () {
                        return $(this).html() == text;
                    });
            };

            var tokenfield = $('#tags_tokenfield').tokenfield();
            tokenfield.tokenfield('setTokens', initial_skills);
            tokenfield
                .on('tokenfield:createtoken', function (e) {
                    var tag = e.attrs.label;
                    skills_input.append('<option selected="selected">' + tag
                        + '</option>');
                })
                .on('tokenfield:createdtoken', function (e) {
                    var tag = e.attrs.label;
                    if (getTagsWithText(tag).length > 1) {
                        $(e.relatedTarget).addClass('invalid');
                    }
                })
                .on('tokenfield:edittoken', function (e) {
                    var tag = e.attrs.label;
                    var same = getTagsWithText(tag);
                    if (same.length == 2) {
                        tokenfield
                            .siblings()
                            .find("span:contains('" + tag + "')")
                            .parent('.invalid')
                            .removeClass('invalid');
                    }
                    same.last().remove();
                })
                .on('tokenfield:removedtoken', function (e) {
                    var tag = e.attrs.label;
                    var same = getTagsWithText(tag);
                    if (same.length == 2) {
                        tokenfield
                            .siblings()
                            .find("span:contains('" + tag + "')")
                            .parent('.invalid')
                            .removeClass('invalid');
                    }
                    same.last().remove();
                });

            $('#opInfoTypeSet input').change(function() {
                tokens = tokenfield.tokenfield('getTokens', false)
                                   .map(function(x) {
                                       return x.value
                                   });
                value = $(this).val();
                if ($(this).is(":checked")) {
                    if (getTagsWithText(value).length == 0) {
                        tokens.push(value);
                    }
                } else {
                    tokens = tokens.filter(function(x) {
                        return x != value;
                    });
                }
                skills_input.empty()
                tokenfield.tokenfield('setTokens', tokens);
            });
        </script>

    {% csrf_token %}
    <input type="submit" value="Post!" />
</form>
{% endblock %}