{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css"
        href="{% static 'external/jqueryui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'external/jqueryraty/jquery.raty.css' %}">
    <script src="{% static 'external/jqueryraty/jquery.raty.js' %}"></script>
    <script src="{% static 'js/project-detail.js' %}"></script>
    <script src="{% static 'js/ratings.js' %}"></script>
{% endblock %}

{% block content %}
    <div class='project_header'>
        <h4 class='project_status'>{{ project.get_status_display }}</h4>
        <div class='title_tab'>
            {% if logged_in and user != project.owner %}
                <a href="#" {% if bookmarked %} class="active" {% endif %} id="projectBookmark" title="Bookmark this project" data-projectid="{{ project.id }}">&nbsp;</a>
            {% endif %}
            <h3 class='project_title'>{{ project.title }}</h3>
        </div>
    </div>
    <div class='ul titled_list'>
        <div class='li'>
            <div class='project_description'>{{ project.description|linebreaks }}</div>
        </div>
        <div class='li'>
            Owner: <a href="{% url 'profile:view' project.owner.username %}">{{ project.owner.username }}</a> </p>
            <p> Compensation: ${{ project.amount }} {{ project.get_payment_display }} </p>
            <p> Posted: {{ project.timestamp }} UTC </p>
        </div>
    </div>

    <h4>Tags:</h4>
    <div class='ul tags'>
        {% for tag in project.tags.all %}
            <div class='li'>{{ tag.text }}</div>
        {% empty %}
            <div class='li'>No tags listed.</div>
        {% endfor %}
    </div>
    <br/>

    {% if user == project.owner %}
        <h4>Applicants:</h4>
        <div class='ul applicant_list people_list'>
        {% for application in project.applications.all %}
            <div class='li people_list_element'>
                <a href="{% url 'profile:view' application.applicant.username %}">{{ application.applicant.username }}</a>, {{ application.applicant.email }}
                <button id='accept_applicant'
                        class='btn glyphicon glyphicon-ok accept_applicant accept_button accept_applicant_button'
                        title="Add applicant to your project's team."
                        data-projectid="{{ project.id }}"
                        data-applicantusername="{{ application.applicant.username }}">
                </button>
            </div>
        {% empty %}
            <div class='li empty_people_list_element'>No applicants currently.</div>
        {% endfor %}
        </div>

        <h4>Team Members:</h4>
        <div class='ul member_list people_list'>
        {% for member in project.team_members.all %}
            <div class='li member_list people_list_element'>
                <a href="{% url 'profile:view' member.username %}">{{ member.username }}</a>, {{ member.email }}
            </div>
        {% empty %}
            <div class='li empty_people_list_element'>
                No team members currently.
            </div>
        {% endfor %}
        </div>

        {% if project.status == 1 %}
            <button id='close_applications' class='btn btn-default' data-projectid="{{ project.id }}">
                Close Applications
            </button>
        {% endif %}

        {% if project.status == 2 %}
            <button id='reopen_applications' class='btn btn-default' data-projectid="{{ project.id }}">
                Re-Open Applications
            </button>
        {% endif %}

        {% if project.status == 3 or project.status == 4 %}
            <button id='reopen_project' class='btn btn-default' data-projectid="{{ project.id }}">
                Re-Open Project
            </button>
        {% endif %}

        {% if project.status != 4 and project.status != 3%}
            <button id='mark_complete' class='btn accept_button' data-projectid="{{ project.id }}">
                Mark as Complete
            </button>

            <button id='cancel_project' class='btn cancel_button' data-projectid="{{ project.id }}">
                Cancel Project
            </button>
        {% endif %}

    {% elif user in project.team_members.all %}
        <h4>Owner:</h4>
        <div class='ul owner_list people_list'>
            <div class='li people_list_element'>
                <a href="{% url 'profile:view' project.owner.username %}">{{ project.owner.username }}</a>, {{ project.owner.email }}
            </div>
        </div>

        <h4>Team Members:</h4>
        <div class='ul member_list people_list'>
        {% for member in project.team_members.all %}
            <div class='li people_list_element'>
                <a href="{% url 'profile:view' member.username %}">{{ member.username }}</a>, {{ member.email }}
            </div>
        {% endfor %}
        </div>

    {% elif project.status == 1 %}
        {% if not logged_in %}
            <a class='btn btn-default' href="{% url 'profile:login' %}?next={{ request.path }}">Log in to apply!</a>
        {% elif user in project.applicants %}
            <br/>
            Your application has been submitted. The project owner is
            reviewing your application.
            <br/>
            <button id='withdraw_application_button'
                    class='btn cancel_button withdraw_application_button'
                    data-projectid="{{ project.id }}">
                Withdraw Application
            </button>

        {% else %}
            <button id='apply_button'
                    class='btn apply_button accept_button'
                    data-projectid="{{ project.id }}"
                    title="Apply to join project team.">
                Apply
            </button>

        {% endif %}

    {% endif %}

    {% if project.status == 3 or project.status == 4 %}
        <br/>
        <br/>
        <label class="title_tab"><h4>Reviews:</h4></label>
        <br/>
        <div class='ul titled_list'>
        {% if user in project.team_members.all %}
            <div class='li'>
            <form action="/ratings/review/{{project.id}}" method="post">
                {% csrf_token %}
                <div id="rating"></div>
                Comments:
                <br/>
                {{ form.comment }}
                <br/>
                <input type="submit" value="Submit" />

            </form>
            </div>
        {% endif %}
        {% for review in project_reviews %}
            <div class="li project-review">
                <div class="review-score"
                     data-score="{{ review.score }}">
                </div>
                <div class='reviewer'>
                    By
                    <a href="{% url 'profile:view' review.reviewer.username %}">{{ review.reviewer.username }}</a>
                </div>
                <div class="review-comment">
                    {{ review.comment | escape }}
                </div>
            </div>
        {% empty %}
            <div class="li project-review">
                No reviews yet.
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
