{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css"
        href="{% static 'external/jqueryui/jquery-ui.min.css' %}">
    <script src="{% static 'js/project-list.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="search-features">
        <select class="sort-projects" name="sort-projects">
            <option value='1'>Most recently made projects first</option>
            <option value='2'>Least recently made projects first</option>
            <option value='3'>Highest pay by lump sum first</option>
            <option value='4'>Lowest pay by lump sum first</option>
            <option value='5'>Highest pay by hourly rate first</option>
            <option value='6'>Lowest pay by hourly rate first</option>
            <option value='7'>By title <b>A-Z</b></option>
            <option value='8'>By title <b>Z-A</b></option>
        </select>
        <input type="text" class="keywords"></textbox>
        <button id="search" class="search">Search</button>
    </div>
    <h1>Projects</h1>
    <ul>
        {% for project in project_list %}
            <li>
                <h5 class="project_status project_status_mini">{{ project.get_status_display }}</h5>
                <a href= "{% url 'project:detail' project.id %}">
                    <h4>{{ project.title }}</h4>
                </a>
                <div>{{ project.description }}</div>
            </li>
        {% empty %}
            <li>No projects yet.</li>
        {% endfor %}
    </ul>


    <div class="pagination">
        {% if page_obj.has_previous %}
            <li class="new-page" id="new-page" data-pageid="{{ page_obj.previous_page_number }}">
                <span>
                    Previous
                </span>
            </li>
        {% endif %}
            <li>
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>
        {% if page_obj.has_next %}
            <li class="new-page" id="new-page" data-pageid="{{ page_obj.next_page_number }}">
                <span>
                    Next
                </span>
            </li>
        {% endif %}
    </div>
{% endblock %}
