{% extends "base.html" %}

{% block content %}

	<h1>Projects Detail View</h1>
	<h3 class='project_title'>{{ project.title }}</h3>
	<p class='project_description'>{{ project.description }}</p>

	<p class='project_status'>Status - {{ project.get_status_display }}</p>

	{% if user == project.owner %}

	    <h4>Applicants:</h4>
	    <ul class='applicant_list people_list'>
		{% for applicant in project.applicants.all %}
		    <li class='people_list_element'>{{ applicant.username }}, {{ applicant.email }} <button id='accept_applicant' class='accept_button' title="Accepting an applicant adds them to your project's team." data-projectid="{{ project.id }}" data-applicantusername="{{ applicant.username }}" >Accept Applicant</button> </li>
		{% empty %}
		    <li class='empty_people_list_element'>No applicants currently.</li>
		{% endfor %}
		</ul>

		Team Members:
	    <ul class='member_list people_list'>
		{% for member in project.team_members.all %}
		    <li class='member_list people_list_element'>{{ member.username }}, {{ member.email }}</li>
		{% empty %}
		    <li class='empty_people_list_element'>No team members currently.</li>
		{% endfor %}
		</ul>

	    <button class='complete_button'>Mark as Complete</button>


	{% elif user in project.team_members.all %}

	    Owner:
	    <ul class='owner_list people_list'>
		    <li class='people_list_element'>{{ project.owner.username }}, {{ applicant.email }}</li>
		</ul>

	    Team Members:
	    <ul class='member_list people_list'>
		{% for member in project.team_members.all %}
		    <li class='people_list_element'>{{ member.username }}, {{ member.email }}</li>
		{% endfor %}
		</ul>

	{% elif project.status == 1 %}

		{% if not logged_in %}
		    <button>Log in to apply!</button>
		{% elif user in project.applicants.all %}

		    Your application has been submitted. The project owner is reviewing your application.

		    <button class='withdraw_application_button'>Withdraw Application</button>

		{% else %}
			<form action="#" method="get">
			 <input type="text" value="8" name="mytextbox" size="1"/>
			 <input type="submit" class="apply_button" value="Apply">
			</form>
		    <button class='apply_button'>Apply</button>

		{% endif %}

	{% endif %}

{% endblock %}