{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css"
        href="{% static 'external/jqueryui/jquery-ui.min.css' %}">
    <script src="{% static 'external/jqueryautoellipsis/jquery.autoellipsis-1.0.10.min.js' %}"></script>
    <script src="{% static 'js/project-list.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="search-features">
        <input type="text" id="keywords" placeholder="Filter by keywords"></textbox>
        <div id="text-filter">
            <select id="dropdown-filter" class="sort-projects" name="sort-projects">
                <option value='1'>Sort by Features</option>
                <option value='1'>Most recently made projects first</option>
                <option value='2'>Least recently made projects first</option>
                <option value='3'>Highest pay by lump sum first</option>
                <option value='4'>Lowest pay by lump sum first</option>
                <option value='5'>Highest pay by hourly rate first</option>
                <option value='6'>Lowest pay by hourly rate first</option>
                {% comment "NOTE:"  %}
                    I went ahead swapped the order for title so that
                    sorting works and appears to the user in an intuitive
                    manner.
                {% endcomment %}
                <option value='8'>By title <b>A-Z</b></option>
                <option value='7'>By title <b>Z-A</b></option>
            </select>
            <select id="dropdown-filter" class="filter-status" name="filter-status">
                <option value='1'>Filter by Status</option>
                <option value='1'>Currently Accepting Applicants</option>
                <option value='2'>In Progress</option>
                <option value='3'>Canceled Projects</option>
                <option value='4'>Finished Projects</option>
            </select>
            <button id="button-search">Search</button>
        </div>
    </div>
    <h1>Projects</h1>

    <ul id="project-list" class="list">
        {% for project in project_list %}
            <li class="list-item">
                <h5 class="project_status project_status_mini">{{ project.get_status_display }}</h5>
                <a href= "{% url 'project:detail' project.id %}">
                    <h4 class="project-list-title">{{ project.title }}</h4>
                </a>
                <div class="project-list-description">
                    {{ project.description|linebreaks }}
                </div>
            </li>
        {% empty %}
            <li class='list-item'>No projects yet.</li>
        {% endfor %}
    </ul>


    <div class="paginate">
        {% if project_list.has_previous %}
            <div class="new-page page-info" id="new-page" data-pageid="{{ project_list.previous_page_number }}">
                <span>
                    Previous
                </span>
            </div>
        {% endif %}
            <div class='page-info'>
                <span>Page {{ project_list.number }} of {{ project_list.paginator.num_pages }}.</span>
            </div>
        {% if project_list.has_next %}
            <div class="new-page page-info" id="new-page" data-pageid="{{ project_list.next_page_number }}">
                <span>
                    Next
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}
