{% extends "base.html" %}

{% block content %}
    <h1>Projects</h1>
    <ul>
        {% for project in object_list %}
            <li>
                <h5 class="project_status project_status_mini">{{ project.get_status_display }}</h5>
                <a href= "{% url 'project:detail' project.id %}">
                    <h4>{{ project.title }}</h4>
                </a>
                <div>{{ project.description }}</div>
            </li>
        {% empty %}
            <li>No projects yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
