{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css"
            href="{% static 'external/jqueryui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css"
            href="{% static 'external/jqueryraty/jquery.raty.css' %}">
    <script src="{% static 'external/jqueryraty/jquery.raty.js' %}"></script>
    <script src="{% static 'js/ratings.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user_profile %}
        <h2>User profile for {{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h2>
        {% if can_edit %}
            <p>
                <a href="{% url 'profile:edit' user_profile.user.username %}">
                    Edit
                </a>
            </p>
        {% endif %}

        {% if user_profile.openToEmploy %}
            <p>User is open to full-time employment.</p>
        {% endif %}

        <p>Email: {{ user_profile.user.email }}</p> 
        <p>Phone number: {{ user_profile.phone_number }}</p>

        <p>Github: {{ user_profile.github }}</p>
        <p>LinkedIn: {{ user_profile.linkedin }}</p>
        <p>Personal: {{ user_profile.personal }}</p>

        <p>Skills:</p>
        <ul>
            {% for skill_tag in user_profile.skills.all %}
                <li>{{ skill_tag.skill }}</li>
            {% empty %}
                <li>No skills listed.</li>
            {% endfor %}
        </ul>

        {% if user_profile.showPastProjects %}
            {% if past_owned_projects %}
                <h3>Past Projects Started</h3>
                <ul>
                    {% for project in past_owned_projects %}
                        <li>
                            <a href= "{% url 'project:detail' project.id %}">
                                {{ project.title }}
                            </a>
                            <div>{{ project.description }}</div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if past_projects %}
                <h3>Past Projects Worked On</h3>
                <ul>
                    {% for project in past_projects %}
                        <li>
                            <a href= "{% url 'project:detail' project.id %}">
                                {{ project.title }}
                            </a>
                            <div>{{ project.description }}</div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        {% if user_profile.showRatings %}
            <h3>Ratings</h3>
            {% for review in user_reviews %}
                <hr>
                <div class="project-review">
                    <div class="review-score"
                         data-score="{{ review.score }}">
                    </div>
                    <br/>
                    <div class="review-comment">
                        {{ review.comment | escape }}
                    </div>
                    <br/>
                    {{ review.reviewer.username }}
                </div>
                <br>            
            {% endfor %}
        {% endif %}
    {% else %}
        <p>No such user exists.</p>
    {% endif %}

{% endblock %}
