{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css"
            href="{% static 'external/jqueryui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css"
            href="{% static 'external/jqueryraty/jquery.raty.css' %}">
    <script src="{% static 'external/jqueryraty/jquery.raty.js' %}"></script>
    <script src="{% static 'js/ratings.js' %}"></script>
{% endblock %}

{% block content %}
    {% if user_profile %}
        {% if can_edit %}
            <p>
                <a class='edit_profile_button' href="{% url 'profile:edit' user_profile.user.username %}">
                    Edit
                </a>
            </p>
        {% endif %}

        {% if user_profile.openToEmploy %}
            <p class='side_notice'>User is open to full-time employment.</p>
        {% endif %}

        <h2>User profile for {% firstof user_profile.user.get_full_name user_profile.user.username %}</h2>
        <div class='user_details'>
            <ul class='list'>
                <li class='list-item'>
                    <p>Email: {{ user_profile.user.email }}</a></p>
                </li>
                <li class='list-item'>
                    <p>Phone number: {{ user_profile.phone_number }}</p>
                </li>
            </ul>

            {% if user_profile.github or user_profile.linkedin or user_profile.personal %}
            <ul class='list'>
                {% if user_profile.github %}
                <li class='list-item'>
                    <p>Github: <a href="{{ user_profile.github }}">{{ user_profile.github }}</a></p>
                </li>
                {% endif %}
                {% if user_profile.linkedin %}
                <li class='list-item'>
                    <p>LinkedIn: <a href="{{ user_profile.linkedin }}">{{ user_profile.linkedin }}</a></p>
                </li>
                {% endif %}
                {% if user_profile.personal %}
                <li class='list-item'>
                    <p>Personal: <a href="{{ user_profile.personal }}">{{ user_profile.personal }}</a></p>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>

        <h4>Skills:</h4>
        <ul class="list tags">
            {% for skill_tag in user_profile.skills.all %}
                <li class='list-item'>{{ skill_tag.skill }}</li>
            {% empty %}
                <li class='list-item'>No skills listed.</li>
            {% endfor %}
        </ul>

        {% if user_profile.showPastProjects %}
            {% if past_owned_projects %}
                <h4>Past Projects Started</h4>
                <ul class='list'>
                    {% for project in past_owned_projects %}
                        <li class='list-item'>
                            <a href= "{% url 'project:detail' project.id %}">
                                {{ project.title }}
                            </a>
                            <div>{{ project.description }}</div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if past_projects %}
                <h4>Past Projects Worked On</h4>
                <ul class='list'>
                    {% for project in past_projects %}
                        <li class='list-item'>
                            <a href= "{% url 'project:detail' project.id %}">
                                {{ project.title }}
                            </a>
                            <div>{{ project.description }}</div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        <br/>
        {% if user_profile.showRatings %}
            <h4 class='title_tab'>Ratings</h4>
            <ul class='list titled_list'>
                {% for review in user_reviews %}
                    <li class="list-item project-review">
                        <div class="review-score"
                             data-score="{{ review.score }}">
                        </div>
                        <div class='reviewer'>
                            By
                            <a href="{% url 'profile:view' review.reviewer.username %}">{{ review.reviewer.username }}</a>
                        </div>
                        <div class="review-comment">
                            {{ review.comment | escape }}
                        </div>
                    </li>
                {% empty %}
                    <li class="list-item project-review">
                        No reviews yet.
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    {% else %}
        <p>No such user exists.</p>
    {% endif %}

{% endblock %}
