{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css"
        href="{% static 'css/info_pages.css' %}">
{% endblock %}

{% block content %}
    <h1>About Project Forum</h1>
    <div class="left capsule">
        Project Forum is the product of a semester long project in the CS169 course at UC Berkeley.  Our goal is to produce a contracting job board that both employers and contractors can leverage.  This project was put together by Alex, Emily, Sarah, and Cedric.
    </div>
    <div class="right capsule">
        Special thanks to these various technologies and tools that made this project possible:
        <ul>
            <li><b>Web Framework: </b> Django</li>
            <li><b>Backend: </b>PostgreSQL</li>
            <li><b>Frontend: </b>JQuery, Bootstrap, Sass</li>
            <li><b>Notifications System: </b>Mailgun</li>
            <li><b>Testing: </b>Selenium</li>
        </ul>
    </div>

{% endblock %}
