{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
{% endblock %}

{% block content %}
    <h1 class='center bottom_bordered'>About Project Forum</h1>
    <div class='about_message'>
        <h4 class="project_forum_purpose bottom_bordered">
            The purpose of ProjectForum is to bring people together: Those with ideas but in need of someone with know-how to make them real, and those with experience looking to sharpen their skills. It is the product of a semester-long project in the CS169 course at UC Berkeley.
        </h4>
        <div class="project_forum_contribute">
            This project was put together by Alex, Emily, Sarah, and Cedric. You can contribute to the ProjectForum or report a bug via <a href=https://github.com/emilylutz/ProjectForum>github</a>.
        </div>
    </div>

{% endblock %}
