<link href="css/bootstrap.min.css" rel="stylesheet">
<div class="headerbackground">
    <div class="col-xs-6 col-sm-6">
        <div class="banner">
            Project Forum
        </div>
    </div>
    <div class="col-xs-6 col-sm-6">
        <div class="login">
            {% if user.is_authenticated %}
                Logged in:
                <a href="{% url "profile:view" user.username %}">{{ user.username }}</a>
                (<a href="{% url "profile:logout" %}">Log out</a> |
                <a href="{% url "profile:password_change" %}">Change password</a>)
            {% else %}
                <a href="{% url "profile:login" %}">Log in</a>
            {% endif %}
        </div>
    </div>
</div>
