{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="center">
        <h1 class='bottom_bordered'>Welcome to Project Forum:</h1>
        <h3>Connecting people with projects.</h3>
        {% if user.is_authenticated %}
            <a class="btn btn-default project-button" href="{% url 'project:create' %}">Create a Project</a>
        {% else %}
            <a class="btn btn-default project-button signup-button" href="{% url 'profile:register' %}">Create an Account</a>
            <br/>
            or <a href="{% url 'profile:login' %}?next={% url 'project:list' %}">Login</a>
            <br>
        {% endif %}
            <a class="btn btn-default project-button" href="{% url 'project:list' %}">View Available Projects</a>
    </div>

{% endblock %}
