{% load staticfiles %}
<!DOCTYPE html>
<header>
    <title>Project Forum</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/welcome.css" %}">

</header>
<body>
    <div class="center">
        <img src="static/images/welcome-sun.png" width="280px" height="280px">
        <div class="center">
            <button>Create a Project Request</button>
            <button>View List of Projects</button>
        </div>
    </div>
</body>
</html>