a#bookmark{
    background: url("images/star-off.775bf85d4ef7.png");
    background-size: 32px 32px;
    display: inline-block;
    width: 32px;
    height: 40px;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}

a#bookmark.active{
    background: url("images/star-on.527610a86010.png");
    background-size: 32px 32px;
    width: 32px;
    height: 40px;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}
