// The base css for project detail view.

@import '../common';

.project_edit_button {
    margin-right: 10px;
    padding: 10px;
    float: right;
    border: 2px solid $theme-col-main;
    border-radius: 5px;
    color: $theme-col-main;
}

.project_status {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    float: right;
    border: 2px solid $theme-col-grey-dark;
    border-radius: 5px;
    color: $theme-col-grey-dark;
}

.title_tab {
    display: block;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 0px 0px;
    background: $theme-col-main;
    overflow: hidden;
    height: 67px;
    max-width: 100%;
}

.title_tab:after{
    border-bottom-left-radius: 6px;
    border-width: 0 0 5px 5px;
}

.project_detail_description {
    padding: 20px 10px 10px;
    overflow: hidden;
}

.bottom_button {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.reviewer {
    margin-bottom: 10px;
}
