a#projectBookmark{
    background: url('images/star-off.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    float: left;
    height: 34px;
    left: -30px;
    margin-top: 10px;
    position: absolute;
    vertical-align: text-bottom;
    width: 20px;
}

a#projectBookmark.active{
    background: url('images/star-on.png');
    background-size: 20px 20px;
    width: 20px;
    height: 34px;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}
