// The base css for lists.

@import '../common';

.ul {
    padding: 0px;
    border: 2px solid $theme-col-main;
    border-radius: 5px;
    background: $theme-col-grey-light;
}

.li {
    padding: 10px;
    border-bottom: 2px solid $theme-col-main;
    list-style: none;
}
